* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
}

/* HEADER */
.header {
    text-align: center;
    padding: 60px 20px 80px;
    background: linear-gradient(135deg, #0066cc, #0099ff);
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.header h1 {
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;
}

.header p {
    margin-top: 10px;
    font-size: 20px;
    color: #eaf6ff;
}

/* SEARCH BOX */
.search-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-box input {
    padding: 12px 15px;
    width: 260px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    outline: none;
}

.search-box button {
    padding: 12px 25px;
    background: #ffffff;
    color: #0066cc;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background: #e6f2ff;
    transform: translateY(-2px);
}


.container {
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 0 20px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.card h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #222;
}

.card ul {
    list-style: none;
}

.card ul li {
    margin: 10px 0;
}

.card ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #0077cc;
    transition: 0.2s;
}

.card ul li a:hover {
    color: #005999;
    text-decoration: underline;
}
